---
import Login from "../components/Login";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Fabrika</title>
  </head>
  <body class="bg-gray-100 p-6">
    <Login client:load/>

  </body>
</html>

