---
import Dashboard from "../components/Dashboard";
import "../styles/global.css";
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Fabrika</title>
  </head>
  <body class="bg-gray-100 p-6">
  <Dashboard client:load />
  </body>
</html>